
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^sales\.buhorotr\.rw$ [OR]
RewriteCond %{HTTP_HOST} ^www\.sales\.buhorotr\.rw$
RewriteRule ^/?$ "https\:\/\/sales\.buhorotr\.rw\/" [R=301,L]
